{% extends "layout.html" %}

{% block content %}

    <div class="container mt-4">
        <h1>New user</h1>

    <form method="post" action="{{ url_for('register') }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <legend>{{ form.name.label }}</legend>
                {{ form.name(class="form-control", size=20) }}
            </div>
            <div class="form-group">
                <legend>{{ form.email.label }}</legend>
                {{ form.email(class="form-control", size=20) }}
            </div>
            <div class="form-group">
                <legend>{{ form.password.label }}</legend>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <legend>{{ form.confirm_password.label }}</legend>
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="form-group btn-with-margin">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}